@CHARSET "ISO-8859-1";

/* DOCK styles*/

.userbar-first, .userbar-last,.userbar-leaf{
	float:left;
	padding: 3px 8px;
	text-decoration:none;
}

#dock{
	bottom:0;
	position:fixed;
	clear:both;
	padding:2px 0;
	height:37px;
	z-index:440; /*Allow layering*/
	right:0;
	margin-right:5px;
	margin-bottom:12px;	
}

.slider {
	float:right;
	position:relative;
	z-index:443;
	padding:7px 4px 4px 4px;
	margin-bottom:5px;
	opacity: 0.9;
	background: #ddd;
	background:-moz-linear-gradient(top, #ddd, #ccc);
	background:-webkit-linear-gradient(top, #ddd, #ccc);
	background:-o-linear-gradient(top, #ddd, #ccc);
	background:-ms-linear-gradient(top, #ddd, #ccc);
	background:linear-gradient(top, #ddd, #ccc);
	border:2px solid #999;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;  
	behavior: url(pie.php);
}


/* BLOCK STYLES */
.userbar-block{
	 float:left;
	 padding: 3px 8px;
	 height:32px;
	 text-decoration:none;
}

#block-userbar-userbar-userbar .content{
	height:32px;
}

.userbar_default .with-counter {
  position: absolute;
  margin-left: 12px;
  margin-top: -10px;  background-color: #f56c7e;
  border: 1px solid #ce4f5e;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
  font-size: 11px;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  width:16px;
  height:16px;
  text-align:center;
  behavior: url(pie.php);
}

.userbar_svg .with-counter{
  margin-top:-100%;
  margin-left:45%;
}

#edit-cont-b, #edit-cont-i {
  padding:10px;
}

.userbar-beautytips div{
	font-size: 11px;
	text-align:center;
	color:#fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	opacity: 0.9;
	background: #555;
	background:-moz-linear-gradient(top, #555, #444);
	background:-webkit-linear-gradient(top, #555, #444);
	background:-o-linear-gradient(top, #555, #444);
	background:-ms-linear-gradient(top, #555, #444);
	background:linear-gradient(top, #555, #444);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;  
	behavior: url(pie.php);
}

/*
 * Image rendering
 */

.userbar_default {
  height:24px;
  width:24px;  
}


#userbar-settings-form .userbar_default {
  margin-left:30px;
}

#userbar_profile.userbar_default {
  background:transparent url('images/images.png') no-repeat left center;
  background-position:-26px 0px;
}

#userbar_logout.userbar_default {
  background:transparent url('images/images.png') no-repeat left center;
  background-position:-52px 0px;
}

#userbar_flag.userbar_default {
  background:transparent url('images/images.png') no-repeat left center;
  background-position:-78px 0px;
}

#userbar_privatemsg.userbar_default {
  background:transparent url('images/images.png') no-repeat left center;
  background-position:-102px 0px;
}

.userbar_default.use_default {
  background:transparent url('images/images.png') no-repeat left center;
  background-position:-150px 0px;
}

#userbar_calendar.userbar.default {
  background:transparent url('images/images.png') no-repeat left center;
  background-position:-174px 0px;

}

#userbar_ubercart.userbar_default {
  background:transparent url('images/images.png') no-repeat left center;
  background-position:0px 0px;
}

/*
 * To change the background of dock bar change the following background styles
 */
#userbar_dock, #userbar_dock .slider {
  background:none repeat scroll 0 0 #fff;
  opacity:1;
} 

#userbar_dock .slider .with-counter {
  background-color: #f56c7e;
}
